{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-fluid">
        <h1>SEARCH FOR HOLIDAYS</h1>
        {{ form_start(form) }}
        {{ form_end(form) }}
    </div>
{% endblock %}